@model IEnumerable<DailyTrack.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<form>
    <div class="row"><div class="large-12 column"><h1>   </h1></div></div>
    <div class="row">
        <div class="large-3 columns">
            <folder-list params="FolderChange: FolderChange,SelectedFolder:SelectedFolder">
            </folder-list>
            <div class="small-10 columns"> <input type="text" placeholder="New folder" id="newFolderName" data-bind="value: NewFolderText"/></div>
            <div class="small-2 columns" data-bind=" click:fnAddNewFolder">
                <span class="button tiny">+</span>
            </div>
        </div>

        <div class="large-6 columns">
            <input class="large-11 columns" type="text" placeholder="New Activity" id="newActivityName" data-bind="value: NewActivityText " />
            <div class="large-1 columns" data-bind="click: fnAddNewActivity">
                <span class="button tiny">+</span>
            </div>

            <activity-list params="completed: false, ActivityChange: ActivityChange,SelectedFolder:SelectedFolder,SelectedActivity:SelectedActivity">
            </activity-list>
            <button class="button tiny" data-bind="text: ShowCompletedButtonText, click: fnShowHideCompletedActivities"></button>
            <div data-bind="if: ShowCompletedActivities, visible: ShowCompletedActivities">

                <activity-list params="completed: true, ActivityChange: ActivityChange,SelectedFolder:SelectedFolder,SelectedActivity:SelectedActivity">
                </activity-list>
            </div>
        </div>

        <div class="large-3 columns">
            <div data-bind="if: ShowActivityDetails,visible:ShowActivityDetails">
                <activity-details params="SelectedActivity: SelectedActivity ,SelectedFolder:SelectedFolder"></activity-details>
            </div>
        </div>

    </div>
</form>

<!--<form>
    <input type="button" value="Start Activity!" onclick="doTimer()">
    <input type="text" id="txt" />
    <input type="button" value="Stop Activity!" onclick="stopCount()">
</form> -->
@section Scripts {
    @Scripts.Render("~/bundles/app")
}
