@model IEnumerable<DailyTrack.Models.Activity>

@{
    ViewBag.Title = "Index";
}


<folder-list params="FolderChange: FolderChange">

</folder-list>
    

    <h2>Activities</h2>

    <p>
        <input type="text" id="newActivityName" data-bind="value: NewActivityText" />
        <input type="button" value="Add Activity" data-bind="click: fnAddNewActivity" />
    </p>
    <h2>Your daily activities</h2>
    <activity-list params="completed: false, ActivityChange: ActivityChange">
    </activity-list>
    <h2>Completed activities</h2>
    <activity-list params="completed: true, ActivityChange: ActivityChange">
    </activity-list>

    <!--<form>
        <input type="button" value="Start Activity!" onclick="doTimer()">
        <input type="text" id="txt" />
        <input type="button" value="Stop Activity!" onclick="stopCount()">
    </form> -->


    @section Scripts {
        @Scripts.Render("~/bundles/app")
    }
