@model IEnumerable<DailyTrack.Models.Activity>

@{
    ViewBag.Title = "Index";
}



<folder-list params="FolderChange: FolderChange,SelectedFolder:SelectedFolder">

</folder-list>


    <h2>Activities</h2>

    <p>
        <input type="text" id="newActivityName" data-bind="value: NewActivityText" />
        <input type="button" value="Add Activity" data-bind="click: fnAddNewActivity" />
    </p>
    <h2>Your daily activities</h2>
    <activity-list params="completed: false, ActivityChange: ActivityChange,SelectedFolder:SelectedFolder">
    </activity-list>
    <h2>Completed activities</h2>
    <activity-list params="completed: true, ActivityChange: ActivityChange,SelectedFolder:SelectedFolder">
    </activity-list>

    <!--<form>
        <input type="button" value="Start Activity!" onclick="doTimer()">
        <input type="text" id="txt" />
        <input type="button" value="Stop Activity!" onclick="stopCount()">
    </form> -->

<h2>Folders</h2>

<p>
    <input type="text" id="newFolderName" data-bind="value: NewFolderText" />
    <input type="button" value="Add folder" data-bind="click: fnAddNewFolder" />
</p>


    @section Scripts {
        @Scripts.Render("~/bundles/app")
    }
