@model IEnumerable<DailyTrack.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Activities</h2>

<p>
    <input type="text" id="newActivityName" data-bind="value: NewActivityText" />
    <input type="button" value="Add Activity" data-bind="click: fnAddNewActivity" />
</p>
<h2>Your daily activities</h2>
<activity-list params="text: NewActivityText">
</activity-list>
@*<h2>Completed activities</h2>
<activity-list params="text: NewActivityText">
</activity-list>*@

<!--<form>
    <input type="button" value="Start Activity!" onclick="doTimer()">
    <input type="text" id="txt" />
    <input type="button" value="Stop Activity!" onclick="stopCount()">
</form> -->

</div>

@section Scripts {
    @Scripts.Render("~/bundles/app")
}
