@model IEnumerable<DailyTrack.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <input type="text" id="newActivityName" />
    <input type="button" value="Add Activity" onclick="addNewActivity()" />
</p>

    <h2>Your daily activities</h2>

    <table>
        <thead>
            <tr>
                <th>Activity</th>
                <th>Type</th>
                <th>StartActivity</th>
                <th></th>
            </tr>
        </thead>
       
        <tbody data-bind="foreach: Activities">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: ActivityType().nameActivityType"></td>
                <td data-bind="text: ActivityType().start"></td>
            </tr>
        </tbody>
    </table>
@section Scripts {
    <script type="text/javascript">

        function Activity(name, initialType) {
            var self = this;
            self.name = name;
            self.ActivityType = ko.observable(initialType);

        }

        function ActivitiesViewModel() {
            var self = this;
            self.availableTypes = [
                { nameActivityType: "study" ,start:3},
                { nameActivityType: "exercises",start:4},
                { nameActivityType: "groceries",start:5}
            ];
    
            self.Activities = ko.observableArray([
                new Activity("Shopping", self.availableTypes[2]),
                new Activity("Homework", self.availableTypes[0])
            ]);
        }
        ko.applyBindings(new ActivitiesViewModel());

    </script>
}