@model IEnumerable<DailyTrack.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Activities</h2>

<p>
    <input type="text" id="newActivityName" data-bind="value: NewActivityText" />
    <input type="button" value="Add Activity" data-bind="click: fnAddNewActivity" />
</p>
<h2>Your daily activities</h2>
<div class="form-group">
    <div clsss="row">
    <div class="col-lg-3 col-md-3">Completed</div>
    <div class="col-lg-3 col-md-3">Id</div>
    <div class="col-lg-3 col-md-3">Activity</div>
    <div class="col-lg-3 col-md-3">StartActivity</div>
    </div>
   
    <div data-bind="foreach: Activities">
        <div class="row"></div>
        <div class="col-lg-3"><input type="checkbox" data-bind="checked: Completed" /> </div>
        <div class="col-lg-3" data-bind="text: id"></div>
        <div class="col-lg-3" data-bind="text: name"></div>
        <div class="col-lg-3" data-bind="text: createDate"></div>
    </div>
    </div>
</div>


<!--<h3>Tasks</h3>

<form data-bind="submit: addTask">
    Add task: <input data-bind="value: newTaskText" placeholder="What needs to be done?" />
    <button type="submit">Add</button>
</form>-->
<!--<div class="container">
<h3>Your daily activities</h3>

<div class="form-group">
    <form data-bind="submit: addActivity">
        <label for="Add activity">Add activity</label>
         <input class="form-control" data-bind="value: newActivityText" placeholder="New Activity?" />
        <button type="submit">Add</button>
    </form>

    </div>

<div class="form-group"></div>
    <ul data-bind="foreach: activities, visible: activities().length > 0">
      <div class="checkbox"></div>  <li>
            <input type="checkbox" data-bind="checked: isDone" />
            <input data-bind="value: name, disable: isDone" />
            <a href="#" data-bind="click: $parent.removeActivity">Delete</a>
       </div> </li>
    </ul>
</div>
    You have <b data-bind="text: incompleteActivities().length">&nbsp;</b> incomplete activity(s)
    <span data-bind="visible: incompleteActivities().length == 0"> !</span>

    <button data-bind="click: save">Save</button>
</div>-->
@section Scripts {
    @Scripts.Render("~/bundles/app")
}
