@model IEnumerable<DailyTrack.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <input type="text" id="newActivityName" />
    <input type="button" value="Add Activity" onclick="addNewActivity()" />
</p>

<h2>Your daily activities</h2>
<div class="col-lg-8">
    <div class="col-lg-3 col-md-3">Completed</div>
    <div class="col-lg-3 col-md-3">Activity</div>
    <div class="col-lg-3 col-md-3">Type</div>
    <div class="col-lg-3 col-md-3">StartActivity</div>
    <div data-bind="foreach: Activities">
        <div class="col-lg-3"><input type="checkbox" data-bind="checked: Completed" /> </div>
        <div class="col-lg-3" data-bind="text: name"></div>
        <div class="col-lg-3" data-bind="text: ActivityType().nameActivityType"></div>
        <div class="col-lg-3" data-bind="text: createDate"></div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        function Activity(data, initialType) {
            var self = this;
            self.Completed = ko.observable(false);
            self.name = data.name || '';
            self.createDate = data.createDate || '';
            self.ActivityType = ko.observable(initialType);

            self.Completed.subscribe(function (newValue) {
                alert(self.name + newValue);
            })
        }

        function ActivitiesViewModel() {
            var self = this;
            self.availableTypes = [
                { nameActivityType: "study" ,start:3},
                { nameActivityType: "exercises",start:4},
                { nameActivityType: "groceries",start:5}
            ];
    
            self.Activities = ko.observableArray();

            self.fnGetActivities = function () {
                $.ajax({
                    url: "/api/activities",
                    method: "GET",
                }).done(function (data) {
                    var result = $.map(data, function (item, index) {
                        return new Activity(item, self.availableTypes[0]);
                    });
                    self.Activities(result);
                })
            }
            self.fnGetActivities();
        }
        ko.applyBindings(new ActivitiesViewModel());

    </script>
}