@model IEnumerable<DailyTrack.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <input type="text" id="newActivityName" />
    <input type="button" value="Add Activity" onclick="addNewActivity()" />
</p>

<h2>Your daily activities</h2>
<div class="col-lg-8">
    <div class="col-lg-3 col-md-3">Completed</div>
    <div class="col-lg-3 col-md-3">Activity</div>
    <div class="col-lg-3 col-md-3">Type</div>
    <div class="col-lg-3 col-md-3">StartActivity</div>
    <div data-bind="foreach: Activities">
        <div class="col-lg-3"><input type="checkbox" data-bind="checked: Completed" /> </div>
        <div class="col-lg-3" data-bind="text: name"></div>
        <div class="col-lg-3" data-bind="text: ActivityType().nameActivityType"></div>
        <div class="col-lg-3" data-bind="text: createDate"></div>
    </div>
</div>
@section Scripts {
@Scripts.Render("~/bundles/app")
}