@model IEnumerable<DailyTrack.Models.Activity>

@{
    ViewBag.Title = "Index";
}



<folder-list params="FolderChange: FolderChange,SelectedFolder:SelectedFolder">
    <div data-bind="css: IsSelected">
        <div data-bind="style: { color: IsSelected() < 0 ? 'blue' : 'black' }">
        </div>
    </div>
</folder-list>


<h2>Folders</h2>
<div class="row">
    <div class="large-12">
                <input class="small-9 columns" type="text" id="newFolderName" data-bind="value: NewFolderText" />
                <div class="small-3 columns" data-bind="click: fnAddNewFolder">
                    <span class= "button">Add folder</span>
                </div>
    </div>
</div>



    <h2>Activities</h2>

    <div class="row">
        <div class="large-12">
            <input  class ="small-9 columns" type="text" id="newActivityName" data-bind="value: NewActivityText" />
            <div class="small-3 columns" data-bind="click: fnAddNewActivity">
                 <span class="button">Add Activity</span>
            </div>
         </div>
    </div>
    <h2>Your daily activities</h2>
    <activity-list params="completed: false, ActivityChange: ActivityChange,SelectedFolder:SelectedFolder">
    </activity-list>
    <button data-bind="text: ShowCompletedButtonText, click: fnShowHideCompletedActivities">
    </button>
    <div data-bind="if: ShowCompletedActivities, visible: ShowCompletedActivities">
        <h2>Completed activities</h2>
        <activity-list params="completed: true, ActivityChange: ActivityChange,SelectedFolder:SelectedFolder">
        </activity-list>    
    </div>
     
  

    <!--<form>
        <input type="button" value="Start Activity!" onclick="doTimer()">
        <input type="text" id="txt" />
        <input type="button" value="Stop Activity!" onclick="stopCount()">
    </form> -->




    @section Scripts {
        @Scripts.Render("~/bundles/app")
    }
