<div>
    <div data-bind="with: SelectedActivity">
        <div class="row">
         
                <div class="row">
                    <div class="small-2 column">Id:</div>
                   <div class="small-10 columnn" data-bind="text: id"></div>
               </div>
                <div class="row">
                  <output type='text' class="form-control" data-bind="value:name" />
                 </div>
                <div class="row">
                    <div class="small-6 column">StartActivity:</div>
                  <div class="small-6 column" data-bind="text: createDate"></div>
                </div>
               
            <div class="row">
                <div class="small-2 columns" data-bind="click: $parent.fnStartActivity">
                    <span class="button tiny">Start</span>
                </div>
                <div class="small-2 columns" data-bind="click: $parent.fnEndActivity">
                    <span class="button tiny">End</span>
                </div>
            </div>


      </div>
          <div class="row">
         <div data-bind="click: $parent.fnRemoveActivity">
            <span class="button tiny">Delete</span>
          </div>
        </div>
       
    </div>

    
</div>
