<div class="form-group">
    <div clsss="row">
        <div class="col-lg-3 col-md-3">Completed</div>
        <div class="col-lg-3 col-md-3">Id</div>
        <div class="col-lg-3 col-md-3">Activity</div>
        <div class="col-lg-3 col-md-3">StartActivity</div>
    </div>

    <div data-bind="if:false" visible:CompletedActivities></div>
    <div data-bind="foreach: Activities">
        <div class="row"></div>
        <div class="col-lg-3">
            <input type="checkbox" 
                data-bind="
                    checked: Completed,
                    click: $parent.fnCompletedChanged" /> 
        </div>
        <div class="col-lg-3" data-bind="text: id"></div>
        <div class="col-lg-3" data-bind="text: name"></div>
        <div class="col-lg-3" data-bind="text: createDate"></div>
    </div>

        
   
</div>